.card {
    border-radius: 8px;
    border: 1px solid #fff;

}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.nombre{
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #fff;
    padding: 8px 16px;
    background-color: #222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.apellido{
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #fff;
    padding: 8px 16px;
    background-color: #222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.matricula{
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #fff;
    padding: 8px 16px;
    background-color: #222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-body{
    padding: 8px 16px;
    background-color: #111;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}